In [1]:
import pymongo

In [2]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
db = client.mars_news
news = db.news

In [4]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
There is no [win32] chromedriver for browser 94.0.4606 in cache
Get LATEST driver version for 94.0.4606
Trying to download new driver from https://chromedriver.storage.googleapis.com/94.0.4606.61/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\richk\.wdm\drivers\chromedriver\win32\94.0.4606.61]

In [5]:
url = "https://redplanetscience.com/"
browser.visit(url)

In [6]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [7]:
#NASA Mars News
article = soup.find('div', class_='list_text')
title = article.find('div', class_="content_title").get_text()
body = article.find('div', class_="article_teaser_body").get_text()

In [8]:
title, body

("NASA's Mars Helicopter Attached to Mars 2020 Rover ",
 'The helicopter will be first aircraft to perform flight tests on another planet.')

In [9]:
#Featured Image
url1 = "https://spaceimages-mars.com/"
browser.visit(url1)

In [10]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")
header = soup.find('div', class_='header')
image = header.find('img')
featured_image_url = image['src']

In [11]:
featured_image_url

'image/nasa.png'

In [12]:
#Mars Facts
import pandas as pd
url2 = "https://galaxyfacts-mars.com/"
tables = pd.read_html(url2)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
df = tables[0] 
df.columns = ['Comparison', 'Mars', 'Earth']
df

                Comparison             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [14]:
df = df.iloc[1:]
df.set_index('Comparison', inplace=True)
df.head()

                               Mars            Earth
Comparison
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days

In [30]:
#Mars Hemispheres
url3 = "https://marshemispheres.com/"
browser.visit(url3)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

boxes = soup.find_all('div', class_="result-list")
res_titles = list()
img_urls = list()
for box in boxes:
    titles = box.find_all('h3')
    links = box.find_all('a', class_="itemLink product-item")
        
    for title,link in zip(titles,links):
        res_titles.append(title.text)
        img_click = link['href']
        browser.click_link_by_partial_text(title.text)

        html = browser.html
        soup = BeautifulSoup(html, "html.parser")
        sample = soup.find("a", text="Sample")
        sample_url = sample['href']
        img_url = url3 + sample_url
        img_urls.append(img_url)
        browser.back()

In [31]:
res_titles

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [17]:
img_urls

['https://marshemispheres.com/images/full.jpg',
 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg']

In [32]:
hemisphere_image_urls = [
    {"title": res_titles,
     "img_url": img_urls},]